{% extends 'layouts/main.html' %}
{% block title %}Upload your file{% endblock %}
{% block content %}

<form style="display:flex;align-items:center;justify-content:center;height:100%;width:100%;color:white" action="{{ url_for('upload_file') }}" class="dropzone" id="myDropzone" method="POST" enctype="multipart/form-data">
</form>
<!--<form style="display:flex;align-items:center;justify-content:center;height:100%;width:100%;color:azure" action="/file-upload" method=post enctype=multipart/form-data class="dropzone">
  <div style="display:flex;flex-direction:row;justify-content:space-around;height:100%;width:auto">
    <input type=file name=file style="color:azure;height:100%;width:auto" class="btn btn-secondary" />
    <input type=submit value=Upload class="btn btn-primary">
  </div>
</form>-->

{% endblock %}
